*
{
    margin: 0%;
    padding: 0%;
}

.nav-bar-container
{
    display: flex;
    width: 100%;
     top: 0;
    background-color:  rgb(16, 16, 97);;
    align-items: center;
    position: sticky;
 
    height: 70px;
  
}
.nav-bar-logo-img
{
    height: 70px;
    padding: 20px;
    margin: 5px;
    border-radius: 30px;
}
.nav-bar-search input
{
    width: 130%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    padding-left: 5px;
    text-align: center;
    margin-left: 100px;
    font-family: 'Bree Serif', serif;
}
.nav-bar-search{
   position: relative; 
}
.nav-bar-menu
{
 margin-left: 35px; 
 text-decoration: none;
 color:white;
 font-size: 25px;
border-radius: 5px;
padding: 5px;
}
.nav-bar-menu:hover
{
background-color: black;
border-radius: 10px;
padding: 10px;
font-size: 28px;
}
.nav-bar-menu-container
{
    margin-left: 320px;
}
.logo-name{
    color:  #ffbf00;
}
